<div class='tab-content' id='main-tab-content'>
  <div class='tab-pane fade show active container-fluid' id='home'>
        <button class='btn btn-primary' onclick=''><i class='fa fa-refresh'></i> Reload</button>    
        <button class='btn btn-primary' id='TASK<%= @task.task_ID %>-tab-save-btn'><i class='fa fa-save'></i> Save</button>
        <button class='btn btn-primary'><i class='fa fa-file-o'></i> Save & Close</button> 
        <button class='btn btn-primary'><i class='fa fa-window-close'></i> Close without Saving</button>  
        <button class='btn btn-primary'><i class='fa fa-ban'></i> Cancel</button>
<br><br>

      <form class='bd-example border border-primary'>

        <div class='row align-items-center'>
          <div class='col-6'>
            <h3>Task #<%= @task.task_ID%></h3>
          </div>
          <div class='col-6'>
            
          </div>
        </div>
      
        <div class='row align-items-center'>
          <div class='col-1'>
            <label for='TaskID-display'>Task ID:</label>
          </div>
          <div class='col-1'>
            <input type='text' class='form-control' id='TASK<%= @task.task_ID %>_ID_display' readonly value='<%= @task.task_ID %>'>
          </div>
          <div class='col-1'>
            <label for='owner-display'>Owner:</label>
          </div>
          <div class='col-1'>
            <input type='text' class='form-control' id='TASK<%= @task.task_ID %>_owner-display' readonly value='<%= @task.initials %>'>
          </div>
          <div class='col-8'>
          </div>
      
        </div>
        
        <div class='row align-items-center' id='Row2'>
          <div class='col-1'>
            <label for='title-display'>Task Title:</label>
          </div>
      
          <div class='col-5'>
            <input type='text' class='form-control small-input'  id='TASK<%= @task.task_ID %>_title_display' value='<%= @task.title %>'>
          </div>
          
          <div class='col-2'>
            <label for='date-received-display'>Date Received:</label>
          </div>
          <div class='col-2'>
            <input type='date' class='form-control' id='TASK<%= @task.task_ID %>_date_received_display' value='<%= @task.try(:date_received).try(:strftime, '%Y-%m-%d') %>'>
          </div>
          
        </div>  
      
        <div class='row align-items-center' id='Row3'>
          <div class='col-1'>
            <label>Project</label>
          </div>
      
          <div class='col-5'>
            <input type='text' class='form-control small-input' id='TASK<%= @task.task_ID %>_project_display' value='<%= @task.project %>'>
          </div>
          
          <div class='col-2'>
            <label>Expected Delivery Date</label>
          </div>
          <div class='col-2'>
            <input type='date' class='form-control' id='TASK<%= @task.task_ID %>_expected_date_display' value='<%= @task.try(:due_date).try(:strftime, '%Y-%m-%d') %>'>
          </div>
        </div> 
      
        <div class='row align-items-center' id='Row4'>
          <div class='col-1'>
            <label>Requester</label>
          </div>
      
          <div class='col-5'>
            <input type='text' class='form-control small-input' id='TASK<%= @task.task_ID %>_requester_display' value='<%= @task.requester %>'>
          </div>
          
          <div class='col-6'>

          </div>
        </div> 
      
        <div class='row align-items-center' id='Row5'>
          <div class='col-1'>
            <label>Category</label>
          </div>
      
          <div class='col-5'>
            <select class='form-control' id='TASK<%= @task.task_ID %>_category_display'>
              <option value='Cat One' <%= if @task.category=='Cat One' then 'Selected' else '' end %>>Cat One</option>
              <option value='Cat Two' <%= if @task.category=='Cat Two' then 'Selected' else '' end %>>Cat Two</option>
              <option value='Cat Three' <%= if @task.category=='Cat Three' then 'Selected' else '' end %>>Cat Three</option>
            </select>
          </div>
          
          <div class='col-6'>

          </div>

        </div> 
      
        <div class='row align-items-center' id='Row6'>
          <div class='col-1'>
            <label for='type-display'>Task Type</label>
          </div>
      
          <div class='col-5'>
            
            <select class='form-control' id='TASK<%= @task.task_ID %>_task_type_display'>
              <option value='Type One' <%= if @task.task_type=='Type One' then 'Selected' else '' end %>>Type One</option>
              <option value='Type Two' <%= if @task.task_type=='Type Two' then 'Selected' else '' end %>>Type Two</option>
              <option value='Type Three' <%= if @task.task_type=='Type Three' then 'Selected' else '' end %>>Type Three</option>
            </select>            
            
          </div>
          
          <div class='col-6'>

          </div>

        </div> 
      
        <div class='row align-items-center' id='Row7'>
          <div class='col-1'>
            <label for='output-display'>Output</label>
          </div>
      
          <div class='col-5'>

            <select class='form-control' id='TASK<%= @task.task_ID %>_output_display'>
              <option value='Documentation' <%= if @task.output=='Documentation' then 'Selected' else '' end %>>Documentation</option>
              <option value='Report' <%= if @task.output=='Report' then 'Selected' else '' end %>>Report</option>
            </select>   

          </div>
          
          <div class='col-6'>
          </div>
          
        </div> 
        
        <div class='row align-items-center' id='Row8'>
          <div class='col-1'>
            <label for='description-display'>Description</label>
          </div>
      
          <div class='col-5'>
            <textarea class='form-control' rows='3' id='TASK<%= @task.task_ID %>_description_display'><%= @task.description %></textarea>
          </div>
          
          <div class='col-6'>
          </div>
          
        </div>   
        
      </form>

      
  </div>
</div>     
<br>

      
<script>
  $('#TASK<%= @task.task_ID %>-tab-save-btn').click(function (e) {

    $.ajax({
    type: 'PUT',
    dataType: 'script',
    url: '/tasks/<%= @task.id %>',
    contentType: 'application/json',
    data: JSON.stringify({ authenticity_token: $('[name="csrf-token"]')[0].content, id: <%= @task.id %>, 
    title: $('#TASK<%= @task.task_ID %>_title_display').val(), 
    date_received: $('#TASK<%= @task.task_ID %>_date_received_display').val(),
    project: $('#TASK<%= @task.task_ID %>_project_display').val(),
    due_date: $('#TASK<%= @task.task_ID %>_expected_date_display').val(),
    requester: $('#TASK<%= @task.task_ID %>_requester_display').val(),
    category: $('#TASK<%= @task.task_ID %>_category_display').val(),
    task_type: $('#TASK<%= @task.task_ID %>_task_type_display').val(),
    output: $('#TASK<%= @task.task_ID %>_output_display').val(),
    description: $('#TASK<%= @task.task_ID %>_description_display').val(),    

    }) 

    });

});  
 
    
</script>
    
    
    