$('#new_task').remove();
$('#new_link').show();
$('#incomplete_tasks').append('<%= j render(@task) %>');
$('#edit_task_<%= @task.id %>').submitOnCheck();

$("#example-table").tabulator("addRow", {name:"<%= @task.name %>", id:"<%= @task.id %>"}, false);