
<ul class="nav nav-tabs bg-primary" id="myTab">
  <li class="nav-item">
    <a class="nav-link text-white bg-primary active" id="home-tab" data-toggle="tab" href="#home"><i class="fa fa-home"></i> Home</a>
  </li>

</ul>

<div class="tab-content" id="main-tab-content">
  <div class="tab-pane fade show active container-fluid" id="home">
        <button class="btn btn-primary" id="home-refresh-button"><i class="fa fa-refresh"></i> Reload</button>
        <button class="btn btn-primary"><i class="fa fa-file"></i> New</button>
        <button class="btn btn-primary" id="home-open-button"><i class="fa fa-edit"></i> Open</button>        
        <button class="btn btn-primary"><i class="fa fa-ban"></i> Cancel</button>
        <br>
        <div id="example-table" class="table-bordered table-sm border border-primary"></div>
  </div>
</div>




<script>

var currentTab;
var composeCount = 0;
//initilize tabs
var currentTab;
var composeCount = 0;
//initilize tabs
$(function () {

    //when ever any tab is clicked this method will be call
    $("#myTab").on("click", "a", function (e) {
        e.preventDefault();

        $(this).tab('show');
        $currentTab = $(this);
    });


    registerComposeButtonEvent();
    registerCloseEvent();
});

//this method will demonstrate how to add tab dynamically
function registerComposeButtonEvent() {
    /* just for this demo */
    $('#composeButton').click(function (e) {
        e.preventDefault();

        var tabId = "compose" + composeCount; //this is id on tab content div where the 
        composeCount = composeCount + 1; //increment compose count

        //$("#myTab").append('<li class="nav-item"><a class="nav-link" id="newTabRecord-tab" data-toggle="tab" href="#newTabRecord" role="tab">NewOne</a></li>');
        $("#myTab").append('<li class="nav-item"><a class="nav-link" id="newTabRecord-tab" data-toggle="tab" href="#newTabRecord" html="Some Text" role="tab"></a></li>');


        
        $("#myTabContent").append('<div class="tab-pane fade" id="newTabRecord" role="tabpanel">Some Text</div>');


        //craeteNewTabAndLoadUrl("", "#", "#newTabRecord");

        //$(this).tab('show');
        //showTab("newTabRecord");
        //registerCloseEvent();
    });

}

//this method will register event on close icon on the tab..
function registerCloseEvent() {


    $(document).on('click', '.closeTab', function() {

        //there are multiple elements which has .closeTab icon so close the tab whose close icon is clicked
        var tabContentId = $(this).parent().attr("href");
        $(tabContentId).remove(); //remove respective tab content
        $(this).parent().parent().remove(); //remove li of tab
        $('#myTab a:last').tab('show'); // Select last tab
     

    });
}

//shows the tab with passed content div id..paramter tabid indicates the div where the content resides
function showTab(tabId) {
    $('#myTab a[href="#' + tabId + '"]').tab('show');
}
//return current active tab
function getCurrentTab() {
    return currentTab;
}

//This function will create a new tab here and it will load the url content in tab content div.
function craeteNewTabAndLoadUrl(parms, url, loadDivSelector) {

    $("" + loadDivSelector).load(url, function (response, status, xhr) {
        if (status == "error") {
            var msg = "Sorry but there was an error getting details ! ";
            $("" + loadDivSelector).html(msg + xhr.status + " " + xhr.statusText);
            $("" + loadDivSelector).html("Load Ajax Content Here...");
        }
    });

}

//this will return element from current tab
//example : if there are two tabs having  textarea with same id or same class name then when $("#someId") whill return both the text area from both tabs
//to take care this situation we need get the element from current tab.
function getElement(selector) {
    var tabContentId = $currentTab.attr("href");
    return $("" + tabContentId).find("" + selector);

}


function removeCurrentTab() {
    var tabContentId = $currentTab.attr("href");
    $currentTab.parent().remove(); //remove li of tab
    $('#myTab a:last').tab('show'); // Select first tab
    $(tabContentId).remove(); //remove respective tab content
}

function saveData(){



rowsEdited.forEach(function(task_ID) {

var name = $("#example-table").tabulator("getRow", task_ID).getData().name;    


$.ajax({
    type: "PUT",
    dataType: "script",
    url: '/tasks/' + task_ID,
    contentType: 'application/json',
    data: JSON.stringify({ authenticity_token: $('[name="csrf-token"]')[0].content, id: task_ID, name: name })
});

});





};

function addNewRow() {
  $("#example-table").tabulator("addData", [{id:"", name:"", delete:""}], false);
  

};

Tabulator.extendExtension("format", "formatters", {
    file:function(cell, formatterParams){
        return "<a data-remote='true' rel='nofollow' data-method='delete' href='/tutorials/228'>Delete</a>";
    },
});

var printIcon = function(cell, formatterParams){ //plain text value
    return "<a data-remote='true' rel='nofollow' data-method='delete' href='/tasks/4'>(remove)</a>";
};

var rowsEdited = [];

//Create Date Editor
var dateEditor = function(cell, onRendered, success, cancel){
    //cell - the cell component for the editable cell
    //onRendered - function to call when the editor has been rendered
    //success - function to call to pass the succesfully updated value to Tabulator
    //cancel - function to call to abort the edit and return to a normal cell

    //create and style editor
    var editor = $("<input type='date'></input>");
    editor.css({
        "padding":"3px",
        "width":"100%",
        "box-sizing":"border-box",
    });

    //Set value of editor to the current value of the cell
    editor.val(moment(cell.getValue(), "DD/MM/YYYY").format("YYYY-MM-DD"));

    //set focus on the select box when the editor is selected (timeout allows for editor to be added to DOM)
    onRendered(function(){
      editor.focus();
      editor.css("height","100%");
    });

    //when the value has been set, trigger the cell to update
    editor.on("change blur", function(e){
        success(moment(editor.val(), "YYYY-MM-DD").format("DD/MM/YYYY"));
    });

    //return the editor element
    return editor;
};


//create Tabulator on DOM element with id "example-table"
$("#example-table").tabulator({

    layout:"fitColumns", //fit columns to width of table (optional)
    movableColumns: true, //enable user movable columns
    selectable:1,
    columns:[ //Define Table Columns
        {title:"ID", field:"id", width:50, visible:false},
        {title:"ID", field:"task_id", width:50},
        {title:"Owner", field:"initials",  headerFilter:"input", headerFilterPlaceholder:" ", width:75},
        {title:"Status", field:"status",  headerFilter:"input", headerFilterPlaceholder:" ", width:75},
        {title:"Progress", field:"progress", align:"left", formatter:"progress", width:85,  editable:true},
        {title:"Title", field:"title", headerFilter:"input", headerFilterPlaceholder:" ", width: 200},
        {title:"Project", field:"project", headerFilter:"input", headerFilterPlaceholder:" ", width:150},
        {title:"Category", field:"category"},
        {title:"Type", field:"type"},
        {title:"Due Date", field:"due_date"},

            ],
    cellEdited:function(cell){
        //cell - cell component
         var cellElement = cell.getElement();
        cellElement.css({"background-color":"#A6A6DF"});

        
        //var row = cell.getRow();
        //row.getElement().css({"background-color":"#A6A6DF"});
        
        var task_ID =  cell.getRow().getData().id;
        rowsEdited.indexOf(task_ID) === -1 ? rowsEdited.push(task_ID) : console.log("This item already exists"); 

    },

    rowClick:function(e, row){ //trigger an alert message when the row is clicked
        var row = $("#example-table").tabulator("getRow", row.getData().id); //return row compoenent with index of 1
        var rowData = row.getData();

        $('#title-display').val(rowData.title);
        $('#project-display').val(rowData.project);
        $('#category-display').val(rowData.category);        
        $('#type-display').val(rowData.type); 
        $('#output-display').val(rowData.output); 
        $('#expected-date-display').val(rowData.due_date.substring(0, 10)); 

        
    },    
    
        rowDblClick:function(e, row){
        //e - the click event object
        //row - row component
        
        // alert("doubleclick on row " + row.getData().id);
        $.ajax({
          type: "GET",
          dataType: "script",
          url: '/tasks/' + row.getData().id,
          contentType: 'application/json',
          data: JSON.stringify({ authenticity_token: $('[name="csrf-token"]')[0].content }) //, id: row.getData().id
        });
    },    
    
    
});

//define some sample data
var tabledata = [
    <% @tasks.each do |task| %>
        {id:"<%= task.id %>", task_id:"<%= task.task_ID %>", initials:"<%= task.initials %>", title:"<%= task.title %>", project:"<%= task.project %>", category:"<%= task.category %>", type:"<%= task.task_type %>", 
        due_date:"<%= task.try(:due_date).try(:strftime, '%Y-%m-%d') %>", status:"<%= task.status %>", progress:"<%= task.progress %>" },
    <% end %>

];

//load sample data into the table
$("#example-table").tabulator("setData", tabledata);

$('#home-open-button').click(function (e) {
    var selectedData = $("#example-table").tabulator("getSelectedData");
    
    $.ajax({
      type: "GET",
      dataType: "script",
      url: '/tasks/' + selectedData[0].id,
      contentType: 'application/json',
      data: JSON.stringify({ authenticity_token: $('[name="csrf-token"]')[0].content }) 
    });    
    

});



$('#home-temp-button').click(function (e) {
    alert("Save clicked");

    $.ajax({
    type: 'PUT',
    dataType: 'script',
    url: '/tasks/1',
    contentType: 'application/json',
    data: JSON.stringify({ authenticity_token: $('[name="csrf-token"]')[0].content, id: 1, date_received: 'testing' }) 

    });


});  
</script>
           

