        $("#myTab").append('<li class="nav-item"><a class="nav-link  text-white bg-primary" id="TASK<%= @task.task_ID %>-tab" data-toggle="tab" href="#TASK<%= @task.task_ID %>-tab-content"></a></li>');
        $("#TASK<%= @task.task_ID %>-tab").html('<i class="fa fa-file-text-o"></i> TASK<%= @task.task_ID %><button class="close closeTab text-white" type="button" >&#xd7</button>');
        
        $("#main-tab-content").append('<div class="tab-pane fade" id="TASK<%= @task.task_ID %>-tab-content"></div>');
        
        $('#TASK<%= @task.task_ID %>-tab').tab('show');
        

        
        $("#TASK<%= @task.task_ID %>-tab-content").append('<%= j render(:partial => 'taskform') %>');