        $("#myTab").append('<li class="nav-item"><a class="nav-link" id="newTabRecord-tab" data-toggle="tab" href="#newTabRecord" role="tab"><button class="close closeTab" type="button" >×</button>NewOne</a></li>');

        
        $("#myTabContent").append('<div class="tab-pane fade" id="newTabRecord" role="tabpanel">Some Text</div>');

alert("This is tabEdit js");

