console.log("From update.js.erb:" + <%= @task.id %>);



<!--var row = $("#example-table").tabulator("getRow", <%= @task.id %>);-->
<!--row.getElement().css({"background-color":"#fff"});-->

        <!-- var cellElement = $("#example-table").tabulator("getRow", <%= @task.id %>);-->
        <!--cellElement.css({"background-color":"#A6A6DF"});-->

var row = $("#example-table").tabulator("getRow", <%= @task.id %>);
var cell = row.getCell("name");
var cellElement = cell.getElement();
cellElement.css({"background-color":"#fff"});


