@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}


.small-input {
    width: 10;
}

.container-fluid {
padding: 0.5rem 1rem;
}

#TaskID {
    width: 50;
    
}

.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}

#example-table {
    font-size: 12px;
}

			.nav-tabs > li .close {
			    margin: -2px 0 0 10px;
			    font-size: 18px;
			}
			.marginBottom {
			    margin-bottom :1px !important;
			}
			.operationDiv {
			    padding:5px 10px 5px 5px;
			}
			.operationDivWrapper {
			    margin-top:-1px;
			}
			.leftMenu {
			    height :70%;
			    background-color: #E6E6E6;
			    border-right: 2px solid #BFBFBF;
			}