<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>OTIF Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  </head>

  <body>



<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-opencart"></i> OTIF Tracker</a>
            </li>
        </ul>
    </div>

    <div class="navbar-collapse collapse w-100 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-warning" role="button" data-toggle="dropdown" href="#"><i class="fa fa-hand-scissors-o"></i> Change User</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">NormalUser1</a>
                    <a class="dropdown-item" href="#">TeamLeader1</a>
                  </div>            
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-question"></i> Help</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="homeNavbarDropdown" role="button" data-toggle="dropdown" href="#"><i class="fa fa-user"></i> NormalUser1</a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#"><i class="fa fa-cog"></i> Configuration</a>
                    <a class="dropdown-item" href="#"><i class="fa fa-line-chart"></i> Performance</a>
                  </div>
            </li>
        </ul>
    </div>
</nav>

    
    
    
    <%= yield %>
    

    
  </body>
</html>
